<br />
<br />
<div *ngIf="selected">
    <div class="container">
        <div class="m-2">
          <ul class="list-group">
            <li class="list-group-item m-3">
              <div class="card-title text-primary">

                <h1 class="fs-2">{{ selected.title }}</h1>
                <p class="text-end">
                  <button class="btn btn-primary mx-2 mb-2"
                  (click)="openSBar(selected.title+' blog closed')"
                  routerLink="/blog">
                    close
                  </button>
              </p>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="card-body">
                    <hr />
                    <pre
                      class="fs-4 fw-bold"
                    >Summery: <p class="fs-6 fw-normal">            {{ selected.summery}}</p> </pre>
                    <hr />
                    <p class="fs-4 fw-bold">Content:</p>
                    {{ selected.content }}
                  </div>
                </div>
                <div class="col-5">
                  <img [src]="selected.blogImg" alt="" width="80%" height="80%" >
                </div>
              </div>

              <div class="card-footer text-end">
                <p>Blog by {{ selected.name }} [ {{ selected.email }} ]</p>
                <div *ngIf="admin || writer" >
                  <button
                    class="btn btn-success mx-2"
                    id="{{ selected._id }}"
                    (click)="updateBlog()"
                  >
                    <i class="bi bi-pencil-square"></i>
                    Update
                  </button>
                  <button
                    class="btn btn-danger mx-2"
                    id="{{ selected._id }}"
                    (click)="deleteBlog()"

                  >
                    <i class="bi bi-trash-fill"></i>Delete
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
</div>

