<br />
<br />
<br />
<div *ngIf="!selected">
  <div class="fw-bold text-center fs-1 text-secondary">user not found</div>
</div>
<div *ngIf="selected">
  <div class="text-center">
    <div class="container">
      <span class="fw-bold fs-1 text-primary">User Detail</span>
      <div class="card">
        <div class="card-body">
          <div *ngIf="selected.avatar">
            <img [src]="selected.avatar" alt="" width="150px" height="150px" />
            <hr />
          </div>
          <span class="fw-bold">Name: </span> {{ selected.name }}
          <hr />
          <span class="fw-bold">Email: </span> {{ selected.email }}
          <hr />
          <span class="fw-bold">Mobile Number: </span> {{ selected.mNumber }}
          <hr />
          <span class="fw-bold">Role: </span> {{ selected.role }}
          <hr />
          <span class="fw-bold">Address: </span> {{ selected.address }}
          <hr />
          <span class="fw-bold">Date of Birth: </span> {{ selected.Dob }}
          <hr />
          <span class="fw-bold">Hobbies: </span> {{ selected.hobbies }}
          <hr />
          <div class="text-center">
            <span *ngIf="admin">
              <button
                class="btn btn-success mx-1"
                id="{{ selected._id }}"
                [routerLink]="['/update', selected._id]"
              >
                Update
              </button>
              <button
                class="btn btn-warning mx-1"
                id="{{ selected._id }}"
                (click)="deleteUser()"
                [routerLink]="['/user']"
              >
                Delete
              </button>
            </span>

            <button
              class="btn-danger btn mx-1"
              (click)="openSnackBar(selected.name+' detail clsed')"
              [routerLink]="['/user']"
            >
              Close
            </button>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
