<br />
<br />
<div *ngIf="users.length <= 0">
  <div class="fw-bold text-center fs-1 text-secondary">No Users to Show</div>
</div>
<div *ngIf="users.length > 0">
  <div class="container mt-4">
    <div class="text-center m-4" *ngIf="admin">
      <button class="btn btn-primary btn-lg" [routerLink]="['/signup']">
        Add User
      </button>
    </div>
    <div *ngFor="let user of users">
      <div *ngIf="_id === user._id" class="text-center fs-3 fw-bold my-1 py-1">
        Welcome {{ user.name }}
        <span *ngIf="admin === 'true'" class="fs-6 text-muted">Admin</span>
        <small class="fs-6 text-muted">(ID:{{ user._id }})</small>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Profile-Pic</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Role</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let user of users
            | paginate
              : {
                  itemsPerPage: tabelSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <tr>
          <th scope="row">
            <span *ngIf="user.avatar">
              <img
                [src]="user.avatar"
                alt=""
                width="150px"
                height="150px"
                [routerLink]="['/user', user._id]"
              />
            </span>
          </th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mNumber }}</td>
          <td>{{ user.role }}</td>
          <td class="text-center">
            <button
              class="btn btn-primary mx-2"
              id="{{ user._id }}"
              [routerLink]="['/user', user._id]"
            >
              View More
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center fixed-bottom">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onCardDataChange($event)"
      >
      </pagination-controls>
      <br>
    </div>
  </div>
</div>
<div class="mb-5"></div>
